@charset "utf-8";
h2{
	text-align: center;
	padding: 10px 0 ;
	font-size:19px;
}
.continfo{
	text-align: center;
	padding-bottom: 10px;
}
.continfo span{
	margin-left:50px;
}
.continfo span:nth-of-type(2n){
	margin-left:8px;
}
.no{
	color:black;
	cursor: default;
}
.no:link{
	color:black;
	cursor: default;
	text-decoration: none;
}
.no:visited{
	color:black;
	cursor: default;
	text-decoration: none;
}
.no:hover{
	color:black;
	cursor: default;
	text-decoration: none;
}
.no:active{
	color:black;
	cursor: default;
	text-decoration: none;
}
#maincont a{
	color:#337ab7 !important;
}
table td.code{
    padding-top: 8px !important;    
}
div.cont>div,div.cont>section{
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif !important;
  	font-size: 15px !important;
	line-height: 1.8 !important;
}
#maincont img{
	max-width: 855px;
	cursor:pointer;
}
.leftspace{
	padding-left: 50px;
}
.modal-body,.modal-footer{
	padding: 3px;
}
.imgclose{
	float:right;
	cursor:pointer;
	font-size: 16px;
	font-weight: bold;
}
#relation ul{
	list-style: none;
}
#relation li{
	display: inline-block;
	float: left;
}
#relation .item{
	height:25px;
	line-height:25px;
}
#relation .bg{
	background: url(../imgs/index_bg.png) no-repeat 50% 50%;
	display: inline-block;
	height:25px;
	width:34px;
	text-align: center;
	color:#fff;
}
#relation .titletxt{
	margin-left:-2px;
	margin-right:25px;
}
.cent_mid{
	width:300px;
	margin: 0 auto;
}
.share{
	float:left;
	margin-right:14px;
	line-height: 2;
}
.adcenter{
	text-align: center;
}
.imp{
	font-weight: bold;
}
#maincont h2{
	text-align: left;
	background: #447bf3;
    color: #fff;
    padding-left: 10px;
}